@charset "UTF-8";

body {
	margin: 0;
	font-family: Blanch;
	background-color: #6CC;
	font-size: 40px;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-shadow: 2px 2px 0px #FFF;
}

hr {
	
}

/*
==============================
        FONTS
==============================
*/

@font-face {
	font-family: BlanchInline;
	src: url('../font/BLANCH_CAPS_INLINE.otf');
}

@font-face {
	font-family: Blanch;
	src: url('../font/BLANCH_CAPS.otf');
}

/*
==============================
	MIDDLE
==============================
*/

.name {
	font-family: BlanchInline;
	font-size: 200px;
	color: #FFF;
	text-shadow: 4px 4px 0px #999;
}

.center {
	text-align: center;
	margin-top: 50px;
	color: #FFF;
	text-shadow: 2px 2px 0px #999;
}

.desc {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: #FFF;
}
