@charset "UTF-8";

body {
	margin: 0;
	font-family: Blanch;
	background-color: #6CC;
	font-size: 40px;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-shadow: 2px 2px 0px #FFF;
}

hr {
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	border: none;
	background-color: #FFF;
	height: 1px;
}

/*
==============================
		KEYFRAMES
==============================
*/
@-webkit-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@-moz-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

/*
==============================
        FONTS
==============================
*/

@font-face {
	font-family: BlanchInline;
	src: url('../font/BLANCH_CAPS_INLINE.otf');
}

@font-face {
	font-family: Blanch;
	src: url('../font/BLANCH_CAPS.otf');
}

/*
==============================
		MIDDLE
==============================
*/

.name {
	font-family: BlanchInline;
	font-size: 200px;
	color: #FFF;
	text-shadow: 4px 4px 0px #999;
}

.center {
	text-align: center;
	margin-top: 50px;
	color: #FFF;
	text-shadow: 2px 2px 0px #999;
}

.desc {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: #FFF;
}

/*
==============================
		EMAIL
==============================
*/

#email, #thanks, #gpg {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	opacity: 0;
}

#email:target, #thanks:target, #gpg:target {
	-webkit-animation: fade .2s linear;
	-moz-animation: fade .2s linear;
	animation: fade 1s linear;
	display: block;
	opacity: 1;
}

.mail, .thanks, .key {
	color: #000;
	text-shadow: none;
	text-align: left;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 50%;
	padding: 10px 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

a.exit {
	color: #999;
	position: absolute;
	right: 25%;
}

a.exit:hover {
	color: #CCC;
}

.eform {
	display: block;
	background-color: #FFF;
	border: 1px solid #CCC;
	width: 100%;
	padding: 10px;
	max-width: 100% !important;
	min-width: 100% !important;
	margin-top: 1px;
}

form {
	margin: 0;
}

/*
==============================
		KEYS
==============================
*/

.key_holder {
	background-color: #FFF;
	border: 1px solid #CCC;
	width: 100%;
	max-width: 100% !important;
	min-width: 100% !important;
	padding: 10px;
	height: 400px;
}

a.back {
	position: absolute;
	top: 0;
	left: 0;
	text-shadow: none;
	color: #FFF;
	padding: 10px;
}

a.back:hover {
	color: #000;
}